@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#quarantineBadge {
<!-- road to victory-->
  position: fixed;
  top: 0;
  left: 0;
  Width: 100vw;
  height: 100vh;
  z-index: 99999;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "Open Sans";

}

#quarantineBadge.Cleared, #quarantineBadge.Cleared h1, 
#quarantineBadge.Cleared h3{
	color: white !important;
}

#quarantineBadge h1{
	font-weight: bold;
	font-size: 4em;
	margin-bottom: 0;
}

h1,h3,.h1,.h3{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica,
	Arial, sans-serif;
	font-weight: 300;
	line-height: 1.1;
}

.mt-2{
	margin-top: .5em !important;
}

h1{	
	font-weight: bold;
	margin-bottom: 0;
	color: white !important;
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-incline-start: 0px;
	margin-incline-end: 0px;
	font-weight:bold;

}

.mb-0{
	margin-bottom: 0rem !important;
}

.ml-2{
	margin-left: .5rem !important;
}

.mt-2{
	margin-top: .5rem !important;	
}
body{
	font-family: "Open Sans", 'Helvetica Neue', Helvetica,
	Arial, sans-serif;	
	line-height: 1.4;
	font: 13px/1.231 arial,helvetica, clean, san-serif;
	font-style: normal;
    	font-variant-ligatures: normal;
    	font-variant-caps: normal;
    	font-variant-numeric: normal;
    	font-variant-east-asian: normal;
	font-stretch: normal;
}

	

h3{
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-incline-start: 0px;
	margin-incline-end: 0px;
	font-weight:bold;
	

}

h3, .h3{
	font-size: 26 px;
}

p {
	margin: 0 0 10.5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-incline-start: 0px;
	margin-incline-end: 0px;
	
}


